
  	<li class="first <%%= ("#{request.fullpath}" == <%= controller_routing_path %>_path )? "active":""%>"><%%= link_to "#{t("web-app-theme.list", :default => "List")}", <%= controller_routing_path %>_path %></li>
	<li class="first <%%= ("#{request.fullpath}"== new_<%= singular_controller_routing_path %>_path)? "active":""%>"><%%= link_to_new <%= model_name %> %></li>
